<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="">
<head>
  <title>Index</title>
</head>
<body style=" background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">

  <div layout:fragment="content" th:remove="tag">
    <div class="container">
    <h1 style="color: #78ab46;"> SEBanking</h1>
    <p>A full-scale banking application</p>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/registration">Register</a></li>
    </ul>
    </div>
  </div>

</body>
</html>