<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml " xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style=" background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

">
<div layout:fragment="content" th:remove="tag">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered
                        to our awesome app!</div>
                </div>

                <h1>Registration</h1>

                <form th:action="@{/registration}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="firstName"> First Name </label>
                        <input id="firstName" class="form-control" th:field="*{firstName}"
                               required autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="lastName"> Last Name </label> <input
                            id="lastName" class="form-control" th:field="*{lastName}"
                            required autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="username"> Username </label> <input
                            id="username" class="form-control" th:field="*{username}" required
                            autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email"> Email </label> <input
                            id="email" class="form-control" th:field="*{email}" required
                            autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password"> Password </label> <input
                            id="password" class="form-control" type="password"
                            th:field="*{password}" required autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
        here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p><a href="/" th:href="@{/}">Back to home page</a></p>

</body>
</html>